@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Roboto:ital,wght@0,300;0,900;1,100;1,300;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;0,800;0,900;1,300;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);

}

header {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1366px;
    width: 100%;
    height: 140px;
    border: 1px solid rgba(170, 168, 168, 0.411);
    margin: auto;
}

header #logo {
    font-size: 1.6em;
    cursor: pointer;
    color: rgb(240, 236, 236);
    box-shadow: 1px 20px 90px rgba(0, 0, 0, 0.24);
    padding: 5px;
}

main{
    max-width: 1366px;

    margin: auto;
}

header ul {
    display: flex;
    gap: 1.3em;
    list-style: none;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;

}

header ul li {
    padding: 8px;
    border-radius: 10px;
    color: white;

}

header ul li:hover {
    color: rgba(0, 0, 0, 0.664);
    background-color: white;
    transition: .2s;

}

body {
   
    overflow-x: hidden;
    background: linear-gradient(to right , #070e68 , #4008a7);
    background-size: cover;
}

.container {
    display: flex;
    height: 500px;
    max-width: 1366px;
    width: 100%;

    align-items: center;
    flex-direction: column;
    gap: 2em;

    background: url(img/imagem-fundo.webp) no-repeat;
    background-size: cover;
}

.texto-de-introducao {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.233);
    width: 100%;
    height: 500px;
    gap: 1em;


}

.texto-de-introducao h1 {
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.719);


}

.texto-de-introducao p {
    font-size: 1.4em;
    width: 50%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;

}

.texto-de-introducao button {
    width: 180px;
    height: 43px;
    background-color: #1d69f7;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    font-weight: bolder;
    margin-top: 1em;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 20px 21px rgb(7, 86, 190);
    font-size: 1.2em;
    text-shadow: 1px 1px 1px rgb(88, 88, 88);
}

.texto-de-introducao button:hover {

    transform: scale(0.95);
}

.container h1 {
    margin-left: 50%;
    transform: translate(-50%);
}

.beneficios {
    width: 100%;
    max-height: 450px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    min-height: 200px;
    align-items: center;
    gap: 1em;
    padding: 10px;
}

.beneficios img {
    background-color: rgb(22, 89, 214);
    border-radius: 20px;
    padding: 10px;
}

.beneficios .bene {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-height: 400px;
    width: 400px;
    min-height: 200px;
    height: 100%;
    justify-content: center;

    font-weight: bold;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.651);
}

.beneficios .bene p {
    color: rgb(0, 0, 0);
    text-align: center;
}

.video {
    margin-top: 1em;
    margin-left: 50%;
    transform: translate(-74%);
    max-width: 1366px;
    width: 100%;
    height: 450px;
}

#video {
    margin-left: 50%;
    transform: translate(-16%);
    width: 70%;
    height: 400px;
}


.container-produtos{
    max-width: 1366px;
    height: 400px;
    width: 100%;
    display: flex;
    margin-top: 1em;
    justify-content: center;
    gap: 1em;
    margin-bottom: 20em;
    padding: 2em;
}

.container-produtos img{
    width: 200px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin: 1em 0;
    padding: 0.5em;
}

.preço , span{
    color: white;
    font-size: 1.3em;
}

.preço span{
    text-decoration: line-through;
    text-decoration-color: rgb(230, 18, 11);
    
}

.preço-promo{
    font-size: 1.5em;
}

.prdoutos-principa {
    width: 350px;
    height: 650px;
    background-color: #5415c9;;
    border: 1px solid #3C08A3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
   
}

.prdoutos-principa h2{
    color: white;
}

.prdoutos{
    width: 350px;
    height: 600px;
    background-color: #2e0a72;
    border: 1px solid #3C08A3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    min-width: 250px;
}

.prdoutos h2 , h3 , p{
    color: white;
    text-align: center;
}

.btn-comprar{
    background-color: #2d0e8a;
    color: white;
    border: navajowhite;
    width: 60%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.288);
    border-radius: 20px;
    box-shadow: 1px 1px 20px rgba(202, 200, 200, 0.486);
    cursor: pointer;
}

.btn-comprar:hover{
    scale: 1.1;
}



.sobre-produto{
    width: 70%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    background-color: #000000;
    font-weight: 600;
    border-radius: 20px;
}



.container-tintas p{
    color: #0e192e;
    font-weight: bold;
   background-color: rgb(240, 237, 234);
}

footer{
    padding: 1em;
    background-color: rgb(255, 255, 255);
    height: 100%;
    height: 700px;
}

.sobre-img{
    width: 250px;
    height: 250px;
    background-color: rgb(15, 152, 206);
    margin-left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
   
}

.sobre-img h1{
    color: white;
}

.sobre-texto{
   
    text-align: center;
    height: 400px;
    font-size: 1.2em;
    padding: 1em;
    margin-top: 1em;
    background-color: rgb(216, 213, 209);
    box-shadow: 1px 1px 1px black;
}

.sobre-texto h2{
    width: 100%;
    box-shadow: 10px 1px 50px rgba(0, 0, 0, 0.116);
    background-color: #ffffff;
    margin-bottom: 5px;
}




.sobre-texto p{
    max-width: 1100px;
    max-height: 500px;
    font-size: 0.8em;
    margin: auto;
    color: black;
}

.dicas{
    max-width: 1300px;
    width: 100%;
    padding: 1em;
    height: 700px;
    display: flex;
    gap: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    
   
}

.box-dicas{
    padding: 2px;
    width: 25%;
    height:60%;
    background-color: #2d0e8a;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border: 1px solid rgb(99, 48, 236);
    border-radius: 15px;
    box-shadow: 10px 1px 10px rgba(0, 0, 0, 0.774);
   min-width: 200px;
}

.box-dicas h2{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(19, 194, 121);
}

.box-dicas, p{
    color: rgb(255, 255, 255);
    font-size: 0.9em;
}

.s{
   transform: scale(1.1);
    opacity: 1;
    transition: .4s;
    font-size: 1em;
}
.r{
    opacity: 0.5;
    transition: .4s;
}


@media (max-width:900px) {
    footer{
        margin-top: 200px;
       
    }
    .container-dicas{
        flex-wrap: wrap;
        justify-content: center;
    }

    .container-produtos{
        padding: 1em;
    }
}

@media (max-width:800px) {
    .container-produtos{
        flex-wrap: wrap;
        margin-bottom: 45em;
        padding: 2em;
    }

    .prdoutos{
        width: 310px;
        height: 500px;
    }
    .prdoutos-principa{
        width: 310px;
        height: 500px;
    }


}


@media (max-width:772px) {

    .texto-de-introducao h1{
        font-size: 1.5em;
        width: 80%;
        text-align: center;
        position: relative;
        left: 15%;
       
        
    }
    .texto-de-introducao p{
        font-size: 1.2em;
        width: 80%;
        text-align: center;
        position: relative;
       
        
    }

    footer{
        height: 830px;
       
    }


    .sobre-texto{
        height: 520px;
    }   
    
    .container-produtos{
        flex-wrap: wrap;
        margin-bottom: 75em;
        padding: 0.1em;
    }

    .prdoutos{
        width: 270px;
        height: 500px;
      
    }
    .prdoutos-principa{
        width: 270px;
        height: 500px;
    }

}
@media (max-width:575px) {
    header{
        flex-direction: column;
    }

    footer{
        height: 950px;
    }

    .sobre-texto{
        height:550px;
        font-size: 1.1em;
    }    
}
@media (max-width:500px) {
    footer{
        height: 980px;
        margin-top: 25em;
    
    }

    footer p{
        font-size: 1.2em;
    }

    .sobre-texto{
        height: 685px;
        font-size: 1em;
    } 

    .container-dicas{
        flex-wrap: wrap;
        justify-content: center;
    }
    .box-dicas{
        min-width: 280px;
        height: 225px;
        font-size: 0.6em;
        
      
    }

    .prdoutos{
        width: 400px;
        height: 500px;
      
    }
    .prdoutos-principa{
        width: 400px;
        height: 500px;
    }
}

@media (max-width: 400px) {
    .sobre-texto{
        height: 685px;
        font-size: 1em;
    }  

    .box-dicas{
        min-width: 230px;
        height: 225px;
        font-size: 0.6em;
        
      
    }

    footer{
        height: 1000px;
    }


}
